body{
    background-image: url('https://img.freepik.com/free-photo/top-view-composition-delicious-fresh-vegetables-with-copy-space_23-2148642973.jpg?t=st=1717108410~exp=1717112010~hmac=af34870f904c6f7c2a68fbb1c09c688660e93cb455c4326521646730f27a4306&w=1800');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #1a1a1a;
}
h1{
    color: aliceblue;
    font-size: 90px;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
}

.delete{
    padding: 10px 30px;
    margin: 50px;
    font-size: 15px;
    background-color: #c53d1f;
    color: aliceblue;
    border: 1px solid #898686;
    font-family: "Roboto", sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    padding: 15px 60px;
    border: none;
    border: 1px solid #898686;
    font-family: "Roboto", sans-serif;
}
.add{
    padding: 15px;
    background-color: #afaa0e;
    border: none;
    color: #F9F7F7;
    font-family: "Roboto", sans-serif;
}
ul {
    margin-top: 40px;
    color: #F9F7F7;
}
.toDoAdded {
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #fbd603;
    list-style: none;
    width: 400px;
    cursor: pointer;
    color: #F9F7F7;
    margin: 10px;
    font-family: "Roboto", sans-serif;
}
.toDoAdded{
    display: block;  
}
.toDoComplited{
    background: #97C4B8;
    color: #2C3333;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 3s ease;
}

@media all and (max-width: 800px){
    h1{
        font-size: 60px;
        margin-top: 60px;
    }
    body{
        background-image: url('https://img.freepik.com/free-photo/top-view-composition-delicious-fresh-vegetables-with-copy-space_23-2148642973.jpg?t=st=1717108410~exp=1717112010~hmac=af34870f904c6f7c2a68fbb1c09c688660e93cb455c4326521646730f27a4306&w=1800');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        background-position: right;
        background-color: #1a1a1a;
    }
    .toDoAdded{
        width: 300px;
        background-color: #fbd603;
        color: #1a1a1a;
      
    }
}
